<div class="dropdown m-4">
    <button 
        name="{{ widget.name }}"{% include "django/forms/widgets/attrs.html" %} 
        class="btn btn-secondary dropdown-toggle" 
        type="button" 
        data-bs-toggle="dropdown">
        Select a color
    </button>
    <ul class="dropdown-menu">
        {% for group_name, group_choices, group_index in widget.optgroups %}
            {% if group_name %}
                <li><h6 class="dropdown-header">{{ group_name }}</h6></li>
            {% endif %}
            {% for option in group_choices %}
                {% include option.template_name with widget=option %}
            {% endfor %}
            {% if group_name %}
                <li><hr class="dropdown-divider"></li>
            {% endif %}
        {% endfor %}
    </ul>
</div>